DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=

STAFF_ROLE_ID=
SUPERVISOR_ROLE_ID=
MANAGEMENT_ROLE_ID=

DATABASE_URL=
SESSION_SECRET=

NODE_ENV=production
